{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1>Mi perfil</h1>

    <p>Nombre de usuario: {{ app.user.nombre }}</p>
    <p>Email: {{ app.user.email }}</p>
    <!-- Add more fields as needed -->

    <!-- If the user has an avatar, display it -->
        <img src="images/avatar/{{ app.user.avatar }}.png" alt="Avatar">

{% endblock %}
