body {
	background-color: #141414;
	background-image: none !important;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	width: 100vw;
	/* position: relative; */
}

.netflix-padding-left {
	padding-left: 57px;
}

.netflix-padding-right {
	padding-right: 57px;
}

.netflix-navbar {
	/* background-color: #0C0C0C !important; */
	z-index: 1000;
	transition: background 0.2s linear;
	position: fixed;
	width: 100vw;
}

.navbar-brand img {
	width: 100px;
}

@media (max-width: 992px) {
	.navbar-brand img {
		width: 150px;
	}
}

i {
	font-size: 20px;
	color: #fff;
}

ul {
	list-style: none;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.367);
	font-weight: 100;
}

a:link,
a:visited {
	color: unset;
	text-decoration: unset;
	cursor: pointer;
}

a:link:active,
a:visited:active {
	color: (internal value);
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #aaa;
}

::-webkit-scrollbar-thumb {
	background: #141414;
}

#user_menu_mobile {
	display: none;
}

@media (max-width: 992px) {
	#user_menu_mobile {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 35px;
		margin-top: 19px;
	}

	#navbarNav {
		background-color: #141414;
		border: 1px solid;
		padding: 20px;
	}

	#user_menu_desktop {
		display: none;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}

	.navbar-toggler {
		position: fixed !important;
		left: 0 !important;
	}

	nav .container-fluid {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

button.user-details {
	background: none;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
}

.dropdown-menu {
	background-color: var(--dropdown-bg);
}