body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.416)) , url(../images/login/login-bg.jpeg);
    height: 100%;
}
.login-top{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.login-top img{
    width: 13%;
}


.login-box{
    background-color: rgba(0, 0, 0, 0.899);
    width: 20%;
    border-radius: 1%;
    padding: 50px;
}

.small-text{
    font-size: 13px;
}

.form-control{
    box-shadow: none !important;
}